USE [master]
GO
/****** Object:  Database [OrgDB]    Script Date: 06-09-2021 15:43:51 ******/
CREATE DATABASE [OrgDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OrgDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\OrgDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OrgDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\OrgDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OrgDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OrgDB]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 06-09-2021 15:43:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmpId] [int] IDENTITY(1,1) NOT NULL,
	[EmpName] [varchar](20) NULL,
	[Email] [varchar](50) NULL,
	[DateOfJoining] [datetime] NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[EmpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmpManagerMappings]    Script Date: 06-09-2021 15:43:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmpManagerMappings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpId] [int] NOT NULL,
	[ManagerId] [int] NULL,
 CONSTRAINT [PK_EmpManagerMappings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Goal]    Script Date: 06-09-2021 15:43:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Goal](
	[GoalId] [int] IDENTITY(1,1) NOT NULL,
	[GoalDescription] [nvarchar](500) NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_Goal] PRIMARY KEY CLUSTERED 
(
	[GoalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GoalSubmission]    Script Date: 06-09-2021 15:43:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoalSubmission](
	[SubmissionId] [int] IDENTITY(1,1) NOT NULL,
	[GoalId] [int] NULL,
	[Answer] [nvarchar](max) NULL,
	[SubmittedBy] [int] NULL,
	[SubmissionDate] [datetime] NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_GoalSubmission] PRIMARY KEY CLUSTERED 
(
	[SubmissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Employee] ADD  CONSTRAINT [DF_Employee_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Goal] ADD  CONSTRAINT [DF_Goal_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[GoalSubmission] ADD  CONSTRAINT [DF_GoalSubmission_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[EmpManagerMappings]  WITH CHECK ADD  CONSTRAINT [FK_EmpManagerMappings_Employee] FOREIGN KEY([Id])
REFERENCES [dbo].[Employee] ([EmpId])
GO
ALTER TABLE [dbo].[EmpManagerMappings] CHECK CONSTRAINT [FK_EmpManagerMappings_Employee]
GO
ALTER TABLE [dbo].[GoalSubmission]  WITH CHECK ADD  CONSTRAINT [FK_GoalSubmission_Employee] FOREIGN KEY([SubmittedBy])
REFERENCES [dbo].[Employee] ([EmpId])
GO
ALTER TABLE [dbo].[GoalSubmission] CHECK CONSTRAINT [FK_GoalSubmission_Employee]
GO
ALTER TABLE [dbo].[GoalSubmission]  WITH CHECK ADD  CONSTRAINT [FK_GoalSubmission_Goal] FOREIGN KEY([GoalId])
REFERENCES [dbo].[Goal] ([GoalId])
GO
ALTER TABLE [dbo].[GoalSubmission] CHECK CONSTRAINT [FK_GoalSubmission_Goal]
GO
USE [master]
GO
